@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'PixelOperator';
  src: url('/pixelOp/PixelOperator.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'PixelOperator';
  src: url('/pixelOp/PixelOperator-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'PixelOperatorMono';
  src: url('/pixelOp/PixelOperatorMono.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'PixelOperatorMono';
  src: url('/pixelOp/PixelOperatorMono-Bold.ttf') format('truetype');
  font-weight: bold;
}

@theme {
  --font-pixel: "PixelOperatorMono", monospace;
}

body {
    background-color: black;
}
