---

import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
---

<BaseLayout>
    <Hero subtitle="{- my work summarised -}">
        Portfolio
    </Hero>
    <Section>
        Work in progress :)

        <a href="/" class="primary">go back</a>
    </Section>
</BaseLayout>
