---
const {cta, secondCta, subtitle} = Astro.props;
---

<section class="py-20 px-4 md:px-20 lg:px-40 xl:px-96 mt-48">
    <span class="text-sm text-gray-400 font-mono">{subtitle}</span>
    <h1 class="my-2 mb-8 text-4xl font-mono font-bold text-gray-950">
        <slot />
    </h1>
    {
        cta &&
        <div class="flex flex-wrap gap-2 items-center">
            <!--<a href="/portfolio"-->
            <a href="https://github.com/zakrok/"
               id="cta-button"
               class="rounded-lg px-4 py-2">
                {cta}
            </a>
            {secondCta && <a href="/blog" class="underline">{secondCta}</a>}
        </div>
    }
</section>

<style>
    #cta-button {
        background-color: hsl(180deg 30% 90%);
    }
</style>
